// Universal Affects

body{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

button{
    font-family: 'Open Sans', sans-serif;
}

button:focus{
    outline: none;
}

li{
    list-style: none;
}

a:hover{
    text-decoration: none;
}

a{
    text-decoration: none;
}

nav{
    ul{
        line-height: 60px;
        height: 60px;
        text-align: center;
        background-color: lightgoldenrodyellow;

        li{
            // For inline-block we can add top right margin padding.
            //It does not move to next line. 
            display: inline-block;

            width: 65px;

            a{
                // Displays an element as a block element (like <p>). It starts on a new line, and takes up the whole width.
                display: block;

                color: tomato;
                font-size: 1.1rem;

                // transition:property duration
                // transition-timing-function:ease-in-out:Specifies a transition effect with a slow start and end
                transition: transform 2s ease-in-out;
            }
            a:hover{
                color:#212529;
                transform: translateY(-20px);
                
            }
        }    
    }
}

// Pre-loader
.pre-loader{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /* z-index:stacks one on each other based on value  */
    z-index: 999;

    visibility: visible;
    background-color: whitesmoke;

    // Convert row into column
    display: grid;

    // On X-axis
    justify-content: center;

    // On Y-axis
    align-items: center;
}

.hidePreLoader{
    /* z-index:stacks one on each other based on value  */
    z-index: -999;

    visibility: hidden;
}

// For Banner Section
.banner{
    background: url(./Banner.jpg);
    background-position: center;
    background-repeat: no-repeat;

    // If we use object-fit: cover; it will cut off the sides of the image, preserving the aspect ratio, and also filling in the space.
    background-size: cover;

    // Parallax Affects
    background-attachment: fixed;

    .min-height{
        min-height: 100vh;
    }
    
    .underline-one{
        width: 160px;
        height: .3rem;
    }
}

.underline-two{
    width: 150px;
    height: .5rem;
    background-color: lightsalmon;
}

#services{
    padding-top: 20px;
    padding-bottom: 80px;

    .services-container{
        max-width: 90vw;

        .services-item{
            /* position: relative, it’ll remain “in the flow” of the layout but you can move it around! */
            position: relative;

            // Default Value From Top To Bottom
            background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));

            color: whitesmoke;
            overflow: hidden;

            img{
                // transition:property duration
                transition: transform 4s;

                min-height: 100%;
            }

            .services-title{
                /* position: absolute takes elements “out of flow” so its grid space gets collapsed. */
                position: absolute;

                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                text-align: center;
                font-size: 3rem;

                // transition:property duration
                transition: opacity 4s;

                // The opacity-level describes the transparency-level,
                opacity: 0;
            }
            .services-footer{
                /* position: absolute takes elements “out of flow” so its grid space gets collapsed. */
                position: absolute;

                left: 0;
                bottom: 0;
                font-size: 20px;
                padding: 1rem;

                // The opacity-level describes the transparency-level
                opacity: 0;

                color: #E6AF2E;

                // transition:property duration
                transition: opacity 4s;
            }
        }
    }
}

#services{
    .services-container{

        .services-item:hover{

            img{
                transform: scale(1.2);
    
                // The opacity-level describes the transparency-level
                opacity: 0.4;
            }
            .services-title,.services-footer{
                // The opacity-level describes the transparency-level
                opacity: 1;
            }
        }
    }
}

// Media Queries
@media screen and (min-width:576px){
    #services{
        .services-container{

            // Convert row into column
            display: grid;
            
            grid-template-columns: repeat(2,1fr);
            column-gap: 1rem;
        }
    }
}

// Media Queries
@media screen and (min-width:992px){
    #services{
        .services-container{

            // Convert row into column
            display: grid;

            grid-template-columns: repeat(3,1fr);
            column-gap: 1rem;
        }
    }
}


#modes{
    background-color: lightseagreen!important;

    .card{
        /* position: relative, it’ll remain “in the flow” of the layout but you can move it around! */
        position: relative;

        // Default Value Top to Bottom
        background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));

        .fa-search{
            /* position: absolute takes elements “out of flow” so its grid space gets collapsed. */
            position: absolute;

            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);

            // transform: property duration
            transform: opacity 4s;

            // The opacity-level describes the transparency-level,
            opacity: 0;
        }
    }
    .card:hover{
        img{
            // The opacity-level describes the transparency-level,
            opacity: 0.3;
        }
        .fa-search{
            // The opacity-level describes the transparency-level,
            opacity: 1;
        }
    }
}

footer{
    .footer-icons{
        // Convert column into row
        display: flex;

        // On X-axis
        justify-content: space-around;

        flex-wrap: wrap;

        // On Y-axis
        align-items: center;
    }
}

.fa-arrow-up{
    // transition:property duration 
    // transition-timing-function:ease-in-out:Specifies a transition effect with a slow start and end
    transition: transform 3s ease-in-out;
}

.fa-arrow-up:hover{
    transform: translateY(-50px)
}